body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    background-color: #ffffff;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,
    "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

#sign-up-container{
    display: block;
    position: absolute;
    background: #fefefe;;
    width: 85%;
    max-width: 568px;
    margin-top: 7%;
    margin-left: 6%;
    padding-top: 25px;
    padding-left: 20px;
    border: 1px solid rgb(228,228,228);
    border-radius: 14px;
    text-align: initial;
    
}

#sign-up-header{

    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: rgb(72,72,72);
    margin-bottom: 25px;
}

#container-main-sign-up{
    height: 521px;
    overflow: auto;
    margin-top: -16px;
    /* margin-bottom: 18px; */
    
}

#close-button-signup{
    position: relative;
    cursor: pointer;
  }
  
  
  #first-cross{
    position: absolute;
    width: 15px;
    height: 2px;
    transform: rotate(135deg);
    background: black
  }
  
  #second-cross{
    position: absolute;
    width: 15px;
    height: 2px;
    top: 0px;
    transform: rotate(45deg);
    background: black
  }

  #sign-up-heading{
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      color: rgb(72, 72, 72);
  }

  #input-container{
    margin-top: 25px;
  }

  #continue-button{
    background-image: radial-gradient(circle at center center, rgb(255, 56, 92) 0%,
     rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%,
     rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%);
    font-size: 16px;
    font-weight: 600;
    width: 92%;
    height: 38px;
    text-align: center;
    padding-top: 6px;
    border-radius: 8px;
}
  

  #terms{
      font-size: 10px;
      font-weight: 100;
      color: #AAAAAA;
  }

  #input-value{
    background: #fefefe;
    width: 92%;
    height: 45px;
    /* border-radius: 5px; */
    padding-left: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid rgb(176, 176, 176);
  }

  #phone-number{
    background: #fefefe;
    width: 92%;
    height: 45px;
    /* border-radius: 5px; */
    padding-left: 10px;
    border-left: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; 
    border: 1px solid rgb(176, 176, 176);
  }

  #country-heading{
      font-size: 12px;
      font-weight: 400;
  }

  #register-container{
    margin-bottom: 35px;
  }

  #selected-country{
      font-size: 15px;
      font-weight: 100;
      margin-top: -5px;
  }

  .social-buttons{
    background: #fefefe;
    width: 92%;
    height: 38px;
    text-align: center;
    padding-top: 6px;
    border-radius: 8px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    border: 2px solid rgb(176, 176, 176);
    color: rgb(72,72,72);
  }

  .social-buttons:hover,
  .social-buttons:focus{
    border: 2px solid rgb(0, 0, 0);;
  }

  #log-in{
      font-size: 12px;
      font-weight: 400;
      color: rgb(72,72,72);

  }

  #log-in-anchor{
      color: rgb(72,72,72);
      text-decoration: underline;
      font-size: 12px;
    font-weight: 600;
  }

  .or-text{
    text-align: center;
    margin-right: 33px;
  }

  @media  only screen and (max-width:420px) {

    #sign-up-container{
      z-index: 1;
      width: 95%;
      margin-left: 0;
      margin-top: 2%;
      border: 1px solid #ebebeb;
      display: block;
    }
    #container-main-sign-up{
      height: 523px;
    }
  }
  

  